In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
pip install tweepy

Requirement already satisfied: tweepy in /anaconda3/lib/python3.7/site-packages (3.8.0)
Requirement already satisfied: PySocks>=1.5.7 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.6.8)
Requirement already satisfied: requests>=2.11.1 in /anaconda3/lib/python3.7/site-packages (from tweepy) (2.21.0)
Requirement already satisfied: six>=1.10.0 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.12.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /anaconda3/lib/python3.7/site-packages (from tweepy) (1.2.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2019.3.9)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /anaconda3/lib/python3.7/site-packages (from requests>=2.11.1->tweepy) (2.8)
Requirement already satisfied: oauthlib>=3.0.0 in /anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->tweepy) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import json

In [4]:
twitter_cred = {}

In [5]:
twitter_cred['CONSUMER_KEY'] = 's3LaEU1wYq03aw3LcnFaWI7kM' 
twitter_cred['CONSUMER_SECRET'] = 'boFMXOSzhL8oFgSMAty2zLXJhgzn6z9qjqiVBzuAVXegr94rVV'
twitter_cred['ACCESS_KEY'] = '62892931-Ze6dw1HhNEc46S80PQfEovEDwNfHbFp3xc17sDnPF'
twitter_cred['ACCESS_SECRET'] = 'HWbqzY661fB3vJic76vytZqJxa6HzWATliWo9qxrvHVcD'

In [6]:
with open('twitter_credentials.json', 'w') as secret_info:
    json.dump(twitter_cred, secret_info, indent=4, sort_keys=True)

In [7]:
import csv
import tweepy
import json

In [8]:
with open('twitter_credentials.json') as cred_data:
    info = json.load(cred_data)
    consumer_key = info['CONSUMER_KEY']
    consumer_secret = info['CONSUMER_SECRET']
    access_key = info['ACCESS_KEY']
    access_secret = info['ACCESS_SECRET']

In [12]:
def get_all_tweets(screen_name):
    auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_key, access_secret)
    api = tweepy.API(auth)
    
    all_the_tweets = []
    new_tweets = api.user_timeline(screen_name=screen_name, count=200)
    all_the_tweets.extend(new_tweets)
    oldest_tweet = all_the_tweets[-1].id - 1
    
    while len(new_tweets) > 0:
        new_tweets = api.user_timeline(screen_name=screen_name, count=200, max_id=oldest_tweet)
        all_the_tweets.extend(new_tweets)
        oldest_tweet = all_the_tweets[-1].id - 1
        print ('...%s tweets have been downloaded so far' % len(all_the_tweets))
        
        outtweets = [[tweet.id_str, tweet.created_at, tweet.text.encode('utf-8')] for tweet in all_the_tweets]
        with open(screen_name + '_tweets.csv', 'w', encoding='utf-8') as f:
            writer = csv.writer(f)
            writer.writerow(['id','created_at','text'])
            writer.writerows(outtweets)
            
if __name__ == '__main__':
    get_all_tweets(input("Enter the twitter handle of the person whose tweets you want to download:- "))

Enter the twitter handle of the person whose tweets you want to download:- realDonaldTrump
...399 tweets have been downloaded so far
...599 tweets have been downloaded so far
...799 tweets have been downloaded so far
...999 tweets have been downloaded so far
...1199 tweets have been downloaded so far
...1399 tweets have been downloaded so far
...1598 tweets have been downloaded so far
...1795 tweets have been downloaded so far
...1995 tweets have been downloaded so far
...2195 tweets have been downloaded so far
...2394 tweets have been downloaded so far
...2594 tweets have been downloaded so far
...2793 tweets have been downloaded so far
...2993 tweets have been downloaded so far
...3193 tweets have been downloaded so far
...3210 tweets have been downloaded so far
...3210 tweets have been downloaded so far

In [13]:
tweets = pd.read_csv('realDonaldTrump_tweets.csv')

In [14]:
tweets.head()

,id,created_at,text
0,1155547255916642305,2019-07-28 18:35:09,b'There is nothing racist in stating plainly w...
1,1155543119691206657,2019-07-28 18:18:43,b'RT @KTHopkins: Trump: Baltimore is a violent...
2,1155450979514560512,2019-07-28 12:12:35,b'\xe2\x80\x9cElijah Cummings has had his chan...
3,1155442764940812290,2019-07-28 11:39:56,"b'Speaking of failing badly, has anyone seen w..."
4,1155439940618129408,2019-07-28 11:28:43,"b'....a look, the facts speak far louder than ..."

In [16]:
tweets.shape

(3210, 3)

In [17]:
tweets['created_at'].tail()

3205    2018-12-21 12:10:36
3206    2018-12-21 11:58:29
3207    2018-12-21 11:50:53
3208    2018-12-21 03:20:29
3209    2018-12-21 03:13:54
Name: created_at, dtype: object

In [21]:
tweets['text'][3209]

"b'Thank you to our GREAT Republican Members of Congress for your VOTE to fund Border Security and the Wall. The final\\xe2\\x80\\xa6 https://t.co/4zKbeHeK5F'"

In [45]:
df_trump = pd.read_csv('./Trump_tweets_full.csv')

In [46]:
df_trump.head()

,Unnamed: 0,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,NaN,Twitter for iPhone,RT @WhiteHouse: President Trump signed into la...,07-29-2019 15:55:39,2296,0,True,1155869504347545601
1,NaN,Twitter for iPhone,RT @WhiteHouse: President Trump gives a statem...,07-29-2019 15:54:37,1584,0,True,1155869245496016897
2,NaN,Twitter for iPhone,RT @WhiteHouse: President Trump Signs H.R. 132...,07-29-2019 15:54:25,2568,0,True,1155869194002599936
3,NaN,Twitter for iPhone,The Fed “raised” way too early and way too muc...,07-29-2019 13:18:14,8767,36994,False,1155829888701673472
4,NaN,Twitter for iPhone,....countries that know how to play the game a...,07-29-2019 13:18:14,7935,34646,False,1155829890903617536

In [47]:
spy = pd.read_csv('~/Desktop/SPY.csv')
spy.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-11-07,208.550003,213.190002,208.550003,213.149994,202.107758,109794900
1,2016-11-08,212.690002,214.770004,212.380005,214.110001,203.018021,106772100
2,2016-11-09,212.369995,217.100006,212.339996,216.380005,205.170456,258429000
3,2016-11-10,217.300003,218.309998,215.220001,216.919998,205.682465,172113300
4,2016-11-11,216.080002,216.699997,215.320007,216.419998,205.208359,100552700

In [49]:
spy.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
680,2019-07-24,299.190002,301.440002,299.089996,301.440002,301.440002,47213200
681,2019-07-25,300.940002,301.000000,299.109985,300.000000,300.000000,55394100
682,2019-07-26,300.760010,302.230011,300.619995,302.010010,302.010010,45084100
683,2019-07-29,301.880005,302.010010,300.850006,301.459991,301.459991,37796000
684,2019-07-30,299.910004,301.170013,299.500000,300.790009,300.790009,40971995

In [48]:
spy.shape

(685, 7)